.featuredProductsContainer a {
  color: inherit;
}

.featuredProductsContainer a:hover,
.featuredProductsContainer a:focus {
  text-decoration: none;
}

.featuredProdImage {
  display: flex;
}

.stacked .featuredProdImage img {
  /* max-height: 250px; */
}

.featuredProdName {
  font-weight: bold;
  text-transform: uppercase;
}

.featuredProdName div[class^="slds-text-heading_"] {
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tiled .featuredProdDescription {
  height: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Small Devices */
@media (max-width: 767px) {
}

/* Medium Devices */
@media (max-width: 1023px) {
}